target
*/target/*
*/target/**

bin
*/bin/*
*/bin/**

.metadata
.recommenders

*/.metadata/*
*/.recommenders/*
*/.metadata/**
*/.recommenders/**
/.recommenders
/.metadata
/war_webapp_test/alfresco.war
/war_webapp_test/alfresco.war.ori
/war_webapp_test/share.war
/war_webapp_test/alfresco
