target
*/target/*
*/target/**

bin
*/bin/*
*/bin/**

.metadata
.recommenders

*/.metadata/*
*/.recommenders/*
*/.metadata/**
*/.recommenders/**
/.recommenders
/.metadata

/.recommenders/
/.metadata/

/.recommenders

.metadata/
.recommenders/

/abd-utility-test/.svn
