
body.UNKNOWN {
  background: none;
}

.login .theme-company-logo {
  height: 60px;
  width: 129px;
  background: transparent url(../images/visma-logo.png) no-repeat;
}

.login .product-name, .login .product-tagline, .login .product-community {
  display: none;
}
